
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');







body {
  background-color: #dcdcdc;
  font-family: 'Montserrat', Verdana, Geneva, sans-serif;
  font-size: small;
  margin: auto;

  }

  header {
  background-color: #483d8b;
  height: 150px;
  text-align: center;
  padding: 20px;
  }

  h1 {
  font-weight: bold;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

  h2 {
    text-decoration: underline;
  }

  #tableContainer {
    display: table;
    border-spacing: 10px;
    margin: auto;
    }

    #tableRow {
      display: table-row;
      border-style: solid;
      border-color: #000000;
      }

  section#actual {
    display: table-cell;
    position: relative;
    width: 475px;
    background-color: #a9a9a9;
    font-size: 105%;
    padding: 25px;
    vertical-align: middle;
    text-align: middle;
    border-style: outset;
    }

    .icones {
      text-align: center;
    }

  section#main {
    display: table-cell;
    position: relative;
    width: 800px;
    background-color: #dcdcdc;
    font-size:  105%;
    padding: 25px;
    vertical-align: top;
    }

    .Me4 {
      list-style-image: shadow;
    }


  aside {
  display: table-cell;
  position: relative;
  width: 475px;
  height: 850px;
  background-color: #a9a9a9;
  font-size: 105%;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  border-style: outset;
  float: right;
  }

  .ecrivez-moi {
    font-size: 25px;
    }

  section#footer {
  background-color: #483d8b;
  color: #fffff0;
  height: 110px;
  text-align: center;
  padding: 5px;
  margin: 0px 10px 10px 10px;
  font-size: 90%;
  clear: right;
}

.projets {
  line-height: 1.9em;
}

.premier {
  color: #cc0000;
}



a:link, a:visited {
  color: #cc0000;
  text-decoration: underline;
}

a:active, a:hover {
  color: #008000;
  text-decoration: none;
}

  
